.menu_container {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.menu_header h3 {
  color: #fac564;
  font-size: 40px;
  margin: 80px 0px;
  font-family: "Josefin Sans", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.menu_options {
  margin-bottom: 70px;
}

.menu_options a {
  border: 1px solid #fac564;
  background-color: transparent;
  color: #fac564;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.3s;
  text-decoration: none;
}

.menu_options a:hover {
  background-color: #fac564;
  color: #1a1e21;
}


.active{
  background-color: #fac564 !important;
  color: #1a1e21 !important;
}