.menu_container {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.menu_header h3 {
  color: #fac564;
  font-size: 40px;
  margin: 80px 0px;
  font-family: "Josefin Sans", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}