.box{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 111111111111111;
    backdrop-filter: blur(4px);
    transition: all .5s;
}

.content{
    width: 40rem;
    height: 30rem;
    position: relative;
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: .6rem;
}

.content h3{
    width: 80%;
    color: #333;
    font-size: 2.8rem;
    margin-bottom: 3rem;
}

.content input{
    width: 100%;
    outline: none;
    padding: .5rem;
    height: 4rem;
    margin-top: .8rem;
    font-weight: bold;
    font-size: 1.7rem;
    color: #242323;
}

.content label{
    color: #333;
    font-size: 1.6rem;
}

.content .submit_btn{
    position: absolute;
    right: 3rem;
    bottom: 2rem;
    margin-top: 3rem;
    font-size: 1.7rem;
    padding: 1rem 2rem;
    border-radius: .3rem;
    color: #eee;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid rgb(15, 141, 57);
    background-color: rgb(19, 190, 76)
}

.content .close_modal{
    position: absolute;
    right: 1.5rem;
    top: 0px;
    background-color: inherit;
    border: none;
    outline: none;
    color: rgb(221, 48, 48);
    cursor: pointer;
    font-size: 4rem;
    font-weight: bold;
}


.error{
    margin-top: 1rem;
    font-size: 1.7rem;
    color: rgb(240, 82, 82);
    font-weight: bolder;
}