.item {
  width: 100%;
  border-radius: .9rem;
  padding: 1rem 1.5rem;
  background-color: #2e3033;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: #ecf0f1;
  cursor: pointer;
  transition: all 0.3s;
}

.item:hover {
  box-shadow: .3rem .3rem .7rem #222;
}

.item img {
  width: 8rem;
}

.amount {
  margin-left: 2.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .7rem;
  color: #ecf0f1;
}

.amount button {
  background-color: inherit;
  border: none;
  outline: none;
  font-size: 3.2rem;
  color: #ecf0f1;
  cursor: pointer;
  transform: translateY(-5px);
}

.datas div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  font-size: 1.6rem;
}

.datas> span{
  font-size: 1.5rem;
}

.amount span {
  background-color: #282a2c;
  padding: .5rem 1rem;
  font-size: 1.8rem;
}

.delete_item {
  background-color: rgba(201, 23, 23);
  border: none;
  outline: none;
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
}

.delete_item img {
  width: 2.3rem;
}