.container {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  margin-bottom: 50px;
}

.box {
  border: 3px solid #fac564;
  border-radius: 12px;
  position: relative;
  padding: 15px;
  margin: auto;
  width: 550px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box:hover > img {
  transform: scale(110%);
}

.box > img {
  width: 240px;
  height: 240px;
  margin-bottom: 10px;
  transition: all 0.4s;
}

.cart_btn {
  padding: 10px 0px;
  font-size: 19px;
  font-weight: bold;
  background-color: rgb(206, 79, 33);
  color: #ecf0f1;
  border-radius: 0px 0px 5px;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: all 0.8s;
}

.cart_btn:hover {
  background-color: rgb(252, 94, 36);
}



