.container {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 3rem;
  margin-bottom: 5rem;
}

.box {
  border: 3px solid #fac564;
  border-radius: 1.2rem;
  position: relative;
  padding: 1.5rem;
  margin: auto;
  width: 55rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box:hover > img {
  transform: scale(110%);
}

.box > img {
  width: 24rem;
  height: 24rem;
  margin-bottom: 1rem;
  transition: all 0.4s;
}

.cart_btn {
  padding: 1rem 0rem;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: rgb(206, 79, 33);
  color: #ecf0f1;
  border-radius: 0rem 0rem .5rem;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: all 0.8s;
}

.cart_btn:hover {
  background-color: rgb(252, 94, 36);
}

@media screen and (max-width: 650px) {
  .box > img{
    width: 22rem;
    height: 22rem;
  }
}

