.cont {
  position: fixed;
  top: 0;
  right: 0;
  background-color: aliceblue;
  z-index: 12331339393939;
  width: 540px;
  height: 100%;
  transform: translateX(100%);
  transition: all 1s;
}

.show {
  transform: translateX(0%);
}

.content {
  background-color: #282a2c;
  border-radius: 10px 10px 0px 0px;
  height: 100%;
}

.no_item_message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
  font-size: 24px;
}

.no_item_message img {
  width: 40px;
}

.cart_items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  height: 50%;
  overflow: auto;
  margin: 40px 0px;
  padding: 20px;
}

.cart_items::-webkit-scrollbar {
  width: 4px;
}


