.icon {
  position: relative;
}

.icon p {
  position: absolute;
  width: 24px;
  height: 24px;
  top: -35%;
  right: -45%;
  background-color: rgba(201, 23, 23);
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc {
  font-size: 21px;
  margin-left: 10px;
}