.menu_options {
  margin-bottom: 7rem;
}

.menu_options a {
  border: 1px solid #fac564;
  background-color: transparent;
  color: #fac564;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 1rem;
  transition: all 0.3s;
  text-decoration: none;
}

.menu_options a:hover {
  background-color: #fac564;
  color: #1a1e21;
}

.active {
  background-color: #fac564 !important;
  color: #1a1e21 !important;
}
