nav {
  background-color: #121618;
  color: #fff;
  padding: 16px 0px;
  position: fixed;
  width: 100%;
  z-index: 111111111111111111111111111111;
}

.icon {
  position: relative;
}

.icon p {
  position: absolute;
  width: 24px;
  height: 24px;
  top: -35%;
  right: -45%;
  background-color: rgba(201, 23, 23);
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: auto;
}

nav header div {
  display: flex;
  align-items: center;
  gap: 9px;
}

header span {
  display: block;
  margin-top: 4px;
  text-align: center;
  color: #fac564;
  letter-spacing: 6px;
  font-size: 20px;
}

nav header img {
  width: 30px;
}

nav h1 {
  font-family: "Josefin Sans", Arial, sans-serif;
  font-size: 29px;
}

nav .options {
  display: flex;
  gap: 30px;
  align-items: center;
}

nav .options button img {
  width: 27px;
}

nav .options > button {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #fff;
  background-color: inherit;
  padding: 15px;
  font-weight: bold;
  border-radius: 7px;
  border: none;
  outline: none;
}

nav .options button:hover {
  background-color: #1a1e21;
  cursor: pointer;
}

.desc {
  font-size: 21px;
  margin-left: 10px;
}

.balance {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 15px;
  border-radius: 7px;
}

.balance div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.balance span {
  font-size: 21px;
  font-weight: bold;
}

.balance p {
  font-size: 18px;
  font-weight: lighter;
}

.balance img {
  width: 30px;
}

.balance .dropdown {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  color: #bbbdbe;
  top: 100%;
  gap: 7px;
  width: 100%;
}

.dropdown .history,
.dropdown .increase {
  width: 100%;
  padding: 7px;
  background-color: inherit;
  border: none;
  outline: none;
  color: inherit;
}

.dropdown .history:hover,
.dropdown .increase:hover {
  background-color: #303538;
}

.balance .dropdown p {
  font-size: 20px;
}

.balance.dropdownIsOpen {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #1a1e21;
}

.balance.dropdownIsOpen .dropdown {
  background-color: #1a1e21;
  display: flex !important;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.balance.dropdownIsOpen .dropdown .history {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
