.main_nav {
  background-color: #121618;
  color: #fff;
  padding: 16px 0px;
  position: fixed;
  width: 100%;
  z-index: 111111111111111111111111111111;
}

.nav_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: auto;
}

.main_nav header div {
  display: flex;
  align-items: center;
  gap: 9px;
}

header span {
  display: block;
  margin-top: 4px;
  text-align: center;
  color: #fac564;
  letter-spacing: 6px;
  font-size: 20px;
}

.main_nav header img {
  width: 30px;
}

.main_nav h1 {
  font-family: "Josefin Sans", Arial, sans-serif;
  font-size: 29px;
}

.main_nav .options {
  display: flex;
  gap: 30px;
  align-items: center;
}

.main_nav .options button img {
  width: 27px;
}

.main_nav .options > button {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #fff;
  background-color: inherit;
  padding: 15px;
  font-weight: bold;
  border-radius: 7px;
  border: none;
  outline: none;
}

.main_nav .options button:hover {
  background-color: #1a1e21;
  cursor: pointer;
}
