.container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.box{
    border: 3px solid #fac564;
    border-radius: 12px;
    position: relative;
    width: 270px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box img{
    position: absolute;
    top: -30%;
    width: 350px;
    height: 300px;
}

.pizza_data{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 80px;
}

.pizza_data h4{
    margin: 0px 30px;
    color:  #ecf0f1;
    font-size: 23px;
}

/* #ecf0f1 */