.carousel {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../assets/img/slides/slider-bg.jpg) no-repeat fixed;
  background-size: cover;
  overflow: hidden;
}

.carousel::after {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100%;
  z-index: 1111;
}
