.slides {
  width: 100%;
  height: 50%;
  margin: 0 auto;
  position: absolute;
  z-index: 1212121;
}

.slide {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 111111;
  transition: transform 1.6s;
}

.image {
  flex: 0 0 420px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: translate(-200px, 20px);
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image img {
  width: 100%;
  height: auto;
  max-width: 420px;
}

.slide span {
  font-family: "Nothing You Could Do", cursive;
  color: #fac564;
  font-size: 35px;
}

.slide h1 {
  color: #fff;
  font-family: "Josefin Sans", Arial, sans-serif;
  font-size: 45px;
  padding-top: 15px;
  padding-bottom: 30px;
  letter-spacing: 3px;
}

.slide p {
  color: #ddd;
  font-size: 19px;
  width: 45%;
  text-align: center;
  line-height: 160%;
}

.slide button {
  margin-top: 25px;
  border: 2px solid transparent;
  background-color: #fac564;
  color: #333;
  padding: 20px 25px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.slide button:hover {
  color: #fac564;
  border: 2px solid #fac564;
  background-color: transparent;
}