.box {
  background-color: #282a2c;
  height: 100%;
  position: relative;
}

.box button {
  margin-top: 30px;
  margin-left: 30px;
  background-color: inherit;
  color: #444;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 30px;
  font-weight: bolder;
}

.box button img {
  width: 30px;
}

.box > section {
  margin-top: 5px;
}

.box section {
  padding: 0px 30px;
}

.box h5 {
  font-size: 19px;
  color: #e9e5e5;
  margin: 10px 0px;
}

.box p {
  color: #e9e5e5;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.box p img {
  width: 24px;
}

.box section h3 {
  color: #e9e5e5;
  font-size: 24px;
}

hr {
  margin: 12px 0px;
  outline: none;
  border: 1px solid #4e4d4d;
}
