.container {
  position: fixed;
  top: 0;
  right: 0;
  background-color: aliceblue;
  z-index: 199999999999999;
  width: 560px;
  padding: 30px 0px;
  height: 100%;
  transform: translateX(100%);
  transition: all 1s;
}

.show {
  transform: translateX(0%);
}

.no_history_message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
  font-size: 24px;
}

.no_history_message img {
  width: 32px;
}

.history_cont {
  background-color: #282a2c;
  border-radius: 10px 10px 0px 0px;
  height: 100%;
}

.history_items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  height: 90%;
  overflow: auto;
  margin: 40px 0px;
  padding: 20px;
}

.history_items::-webkit-scrollbar {
  width: 4px;
}
